body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
section {
  padding: 12rem 3rem;
  transition: transform 1s, opacity 1s;
  text-align: center;
}
h2 {
  margin-bottom: 100px;
  text-decoration: underline 0.5px solid #e7e6e6;
  text-underline-offset: 12px;
}
.header {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
}
#logo {
  height: 5rem;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.sticky {
  width: 100%;
  position: fixed;
  background-color: #4caf4fe3;
  z-index: 100;
  box-sizing: border-box;
}

.header .nav {
  margin-left: 6.5rem;
}

.header .nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header .nav ul li {
  display: inline;
}

.header .nav ul li a {
  color: white;
  text-decoration: none;
}

.header .search-cart-user {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header .search-cart-user input {
  font-size: 0.9rem;
  padding: 0.4rem 0.7rem;
  border: 1px solid #ddd;
  border-radius: 1.5rem;
}

.cart,
.user {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.btn--login {
  border: none;
  background-color: unset;
  color: white;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal-login {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;
  max-width: 370px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 1000;
  transition: all 0.5s;
}

.login-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}
.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.input-container {
  position: relative;
}

.input-container input {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4caf50;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #8d8d8d;
  text-transform: uppercase;
  cursor: pointer;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

.slider {
  background-color: #4caf4f6c;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slide > img {
  width: auto;
  height: 87vh;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

/* .section {
  padding: 40px 20px;
  text-align: center;
} */

.product_showspace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-text {
  font-family: "微软雅黑";
  background-color: #b6fab83c;
  border-radius: 5rem;
  width: 30rem;
}

.product-text p {
  width: 70%;
  font-size: 15px;
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;
}

.product-text-header {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.product-card {
  width: 350px;
  height: 300px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  aspect-ratio: 1;
  transition: transform 1s;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

article {
  display: grid;
  place-items: center;
  height: 50vh;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.product--img {
  position: absolute;
  width: 60%;
  translate: -50% -50%;
  transition: transform 1s;
  inset: 50%;
}

.product-card:hover {
  transform: translateZ(100px) rotateX(75deg);
  box-shadow: 10px 10px 10px #999, -10px -10px 10px D#fff;
}
.product-card:hover + .product--img {
  transform: translateY(-90px) translateZ(250px);
}

.footer {
  background: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
}

.footer--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
